.fundo{
    background-color: rgb(193, 245, 193);
}

.calculadora {
    width: 200px;
    margin: 200px auto;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(30, 124, 80);
}

.display{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 1px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: right;
}

.linha{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button{
    width: 60px;
    height: 40px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    
}

.numero{
    background-color: #1613186e;
    color: aliceblue;

    &:hover {
        background-color: #27ae60;
    }
    
    
    &:active {
        transform: scale(0.98);
}
}

.operador{
    background-color: #1613186e;
    color: aliceblue;

    &:hover {
        background-color: #27ae60;
    }
    
    
    &:active {
        transform: scale(0.98);
}

}

.limpar{
    background-color: #1613186e;
    color: aliceblue;

    &:hover {
        background-color: #27ae60;
    }
    
    
    &:active {
        transform: scale(0.98);
}

}

.igual{
    background-color: #1613186e;
    color: aliceblue;
    width: 100%;

    &:hover {
        background-color: #27ae60;
    }
    
    
    &:active {
        transform: scale(0.98);
}
}

.decimal{
    background-color: #1613186e;
    color: aliceblue;

    &:hover {
        background-color: #27ae60;
    }
    
    
    &:active {
        transform: scale(0.98);
}
}